builds:
  -
    name: WTAZoomNavigationController # Name for built ipa
    scheme: WTAZoomNavigationController # Scheme name to build
    bundle_id: com.willowtreeapps.wtazoomnavigationcontroller # Bundle id to set in info plist
    provisioning_profile: 2672B1FC-6B3F-419E-B462-3725A2FE6004
    signing_identity: "iPhone Distribution: WillowTree Apps Inc."
    signing_identity_SHA1: "19C963AB8C1C798E6AC45491338E4FEFFC0F85E6"
    configuration: release
